<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Sass/Index.css">
    <title>Image Upload</title>
</head>
<body>
    <main id="Main_Upload">

        <form action="/Post" method="get" id="Upload">
            <input type="text" name="Title" id="Title" placeholder="Title">
            <input type="text" name="Author" id="Author" placeholder="Author">
            <input type="text" name="Img" id="Img" placeholder="Image(URL)">
            <input type="submit" value="Submit">
        </form>

    </main>
</body>
<script></script>
</html>